In [7]:
print("Hello"[-2])

l

In [11]:
#Integer
print(123_456_789)

123456789

In [12]:
#float
f = 3.14

In [13]:
#boolean
True
False

False

In [16]:
num_char = len(input("What is your name? "))

print("Your name has {} Characters".format(num_char))

type(num_char)

What is your name? Peter
Your name has 5 Characters

int

In [21]:
new_num_char = str(num_char)  #convers to a string

num = 100.5
new_num = int(num)

print(new_num)

100

In [26]:
two_digit_number = input("Type a two digit number: ")

num_1 = int(two_digit_number[0])
num_2 = int(two_digit_number[1])

print(num_1 + num_2)

Type a two digit number: 39
12

## String

In [35]:
name = "Peter Kihoi"

name[0]
name[:1]
name[::-1]
name[2:5]

'ter'

In [38]:
name.split()

['Peter', 'Kihoi']

In [39]:
name.split('e')

['P', 't', 'r Kihoi']

## Numbers

In [41]:
2**3

8

In [43]:
print(3 * (3 + (3 / 3) - 3))

3.0

### BMI calculator

In [1]:
height = float(input("enter your height in m:\n"))
weight = float(input("enter your weight in kg:\n"))

bmi = int(weight/(height**2))

print(bmi)

enter your height in m:
120
enter your weight in kg:
1.75
0

In [48]:
round(8/3, 2) # 2 number of decimal places

2.67

In [49]:
8 // 3 # gives a whole number

2

In [51]:
score = 5

score *= 2
score

10

In [52]:
print(f"The score was {score}")

The score was 10

#### your life in weeks

In [54]:
age = input("What is your current age? ")

years = 90 - int(age)
days = 365 * years
weeks = 52 * years
months = 12 * years

print(f"You have {days} days, {weeks} weeks, and {months} months left")

What is your current age? 21
You have 25185 days, 3588 weeks, and 828 months left

### bill tip

In [71]:
print("welcome to the tip calculator.")

bill = float(input("What was the total bill? $"))
perc = int(input("What percentage tip would you like to give? 10, 12, or 15? "))
people = int(input("How many people to split the bill? "))

perc +=100
percentage = bill * (perc * 0.01)
result = percentage / people
final_results = "{:.2f}".format(result)
print(f"Each person should pay: ${final_results}")

welcome to the tip calculator.
What was the total bill? $150
What percentage tip would you like to give? 10, 12, or 15? 12
How many people to split the bill? 5
Each person should pay: $33.60

# List

In [88]:
my_list = ['one', 'two', 'three', 'four']
num_list = [1,2,3,4,5,6,7]

print(my_list)
print(num_list)

['one', 'two', 'three', 'four']
[1, 2, 3, 4, 5, 6, 7]

In [89]:
print(len(my_list))

4

In [90]:
my_list[0] = 'Jamo'
print(my_list)

['Jamo', 'two', 'three', 'four']

In [91]:
my_list.append('five')
print(my_list)

['Jamo', 'two', 'three', 'four', 'five']

In [92]:
my_list.pop()
print(my_list)

['Jamo', 'two', 'three', 'four']

In [93]:
my_list.pop(0)

'Jamo'

In [94]:
num_list = [2,1,3,5,4,8,6,7]
num_list.sort()
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [99]:
new_list = ["zer0", "one", "two", "three", "four", "five", "six", "seven"]
new_list[2:5]

['two', 'three', 'four']

In [122]:
new_list.extend([1,2,3,4])
new_list

['zer0',
 'one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4]

# Dictionaries

In [102]:
my_dic = {'key1' : 'value1', 'key2':'value2', 'key3':'value3'}
my_dic

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [103]:
my_dic['key2']

'value2'

In [105]:
d = {"key1":100, "key2":200, "key3":300}
d

{'key1': 100, 'key2': 200, 'key3': 300}

In [107]:
d['key3'] = 400
d

{'key1': 100, 'key2': 200, 'key3': 400}

In [108]:
d.values()

dict_values([100, 200, 400])

In [109]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [110]:
d.items()

dict_items([('key1', 100), ('key2', 200), ('key3', 400)])

# tuples
### immutable => cannot be changed

In [114]:
my_tup = (1,2,3,3,3,3,4,5)
my_tup

(1, 2, 3, 3, 3, 3, 4, 5)

In [115]:
my_tup.count(3) #How many times it appear

4

# Sets
### unique elements

In [117]:
my_set = set()
my_set.add(1)
my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)
my_set

{1, 2, 3, 4}

In [119]:
list = [1,2,3,3,4,5,6,5,7]

set(list)      #A list to a set

{1, 2, 3, 4, 5, 6, 7}

In [120]:
tuple(list)

(1, 2, 3, 3, 4, 5, 6, 5, 7)